body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
}
.title {
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
  color: slategrey;
  width: 100%;
}
.gallow-wrap {
  /* height: 40%;
  width: 40%; */
  position: relative;
}
.gallow-img {
  height: 581px;
  width: 353px;
}
.head {
  position: absolute;
  top: 21%;
  left: 71%;
}
.gallows-body {
  position: absolute;
  top: 35%;
  left: 85%;
}
.left-hand {
  position: absolute;
  top: 35.5%;
  left: 65%;
}
.right-hand {
  position: absolute;
  top: 35.5%;
  left: 87%;
}
.left-leg {
  position: absolute;
  left: 66%;
  top: 54%;
}
.right-leg {
  position: absolute;
  left: 86%;
  top: 54%;
}
.quiz-part {
  width: 50%;
  margin-left: 10%;
}

.guess-word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.letter {
  font-size: 32px;
  color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid darksalmon;
}

.right-letter {
  color: slategrey;
  border-bottom: none;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: slategrey;
  border-bottom: none;
  font-size: 32px;
  margin-bottom: 4%;
}
.incorrect-guess-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: slategrey;
  border-bottom: none;
  font-size: 32px;
  margin-bottom: 4%;
}
.keyboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 70px;
  height: 70px;
  background-color: darksalmon;
  color: lightgray;
  border-radius: 10px;
  border-color: darksalmon;
  box-shadow: none;
}
.pressed-key {
  background-color: lavenderblush;
}
