body {
}
.title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: brown;
  width: 100%;
}
.gallow-wrap {
  height: 200px;
  width: 150px;
}
.gallow-img {
  height: 200px;
  width: 150px;
}
.interactivity-part {
}

.guess-word {
}
.question {
}
.guess-count {
}
.keyboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  padding-right: 20%;
  padding-left: 20%;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  width: 3em;
  height: 3em;
  background-color: darkblue;
  color: aliceblue;
}
