body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5%;
  
}
@media(max-width:768px){
  body{
    flex-direction: column;
  }
}
.gallow-wrap {
  /* height: 40%;
  width: 40%; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.gallow-img {
  height: 450px;
  width: 250px;
}
.head {
  height: 70px;
  width:70px;
  position: absolute;
  top: 20%;
  left: 71%;
}
.gallows-body {
  height:80px;
  width:4px;
  position: absolute;
  top: 35%;
  left: 85%;
}
.left-hand {
  height:70px;
  width:50px;
  position: absolute;
  top: 36%;
  left: 65%;
}
.right-hand {
  height:70px;
  width:50px;
  position: absolute;
  top: 36%;
  left: 87%;
}
.left-leg {
  height:70px;
  width:50px;
  position: absolute;
  left: 66%;
  top: 53%;
}
.right-leg {
  height:70px;
  width:50px;
  position: absolute;
  left: 86%;
  top: 53%;
}
.body-part {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.quiz-part {
  width: 50%;
  margin-left: 10%;
}
@media (max-width:768px){
  .quiz-part{
    width: auto;
    padding:10%;
  }
}
 
.guess-word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5%;
}
.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  min-width: 20px;
  min-height: 20px;
  font-size: clamp(20px, 2.5vw, 2.8rem);
  color: rgba(0, 0, 0, 0);
  border-bottom: 3px solid darksalmon;
  
}


.correct-letter {
  color: slategrey;
  border: none;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: slategrey;
  border-bottom: none;
  font-size: clamp(16px, 2.5vw, 2.8rem);
  margin-bottom: 4%;
}
.incorrect-guess-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: slategrey;
  border-bottom: none;
  font-size: clamp(16px, 2.5vw, 2.8rem);
  margin-bottom: 4%;
}
.keyboard {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  gap: 2px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 2.5vw, 2.8rem);
  width: 6vw;
  height: 6vw;
  min-width: 30px;
  min-height: 30px;
  background-color: darksalmon;
  color: lightgray;
  border-radius: 5px;
  border-color: darksalmon;
  box-shadow:none;
  cursor: pointer;
}
.pressed-key {
  background-color: lavenderblush;
  cursor: not-allowed;
}
.modal{
  position:fixed; 
  left:20%;
  top: 10%;
  width: 50%;
  height: 50%;
  background-color: bisque;
  color: slategrey; 
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  gap: 10px;
  display:none;
  z-index: 1;
}
@media(max-width:768px){
  .modal{
    width:70%;
  }
}

.secret-word {
text-align: center;
}
.play-again{
  font-size: 16px;
  color:lightgray;
  width: 100px;
  height:50px;
  background-color: darksalmon;
  border-radius: 10px;
  border: 1px solid darksalmon;
}
.background-modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:darkgrey;
  opacity: 0.3;
  display:none;
}
